<div class="p-6 bg-gray-50 rounded-lg shadow-lg max-w-3xl mx-auto mt-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">Un poco de mí</h2>
  <div class="flex items-center justify-center space-x-6 mb-4">
    <!-- Imagen redonda -->
    <div class="flex-shrink-0 w-32 h-32 bg-gray-200 rounded-full overflow-hidden border-4 border-gray-300">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Javier_Milei_en_el_Sal%C3%B3n_Blanco_%28cropped%29.jpg"
        alt="Foto profesional"
        class="w-full h-full object-cover"
      />
    </div>
    <!-- Texto -->
    <p class="text-lg text-gray-700 leading-relaxed">
      Soy Ronaldo Morales, Ingeniero Informático de la Universidad Católica del Norte, mi interés profesional es el campo de la IA, mi motivación principal es el constante descubrimiento de nuevas tecnologías y la resolución de problemas complejos.
    </p>
  </div>

  <section id="rol-profesional" class="my-8 p-4 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">Rol Profesional</h2>
    <p class="text-lg text-gray-700">
      Actualmente, como Ingeniero Informático en formación, mi objetivo principal es adquirir experiencia en el campo de la IA, para ello, me encuentro en constante aprendizaje y desarrollo de proyectos personales.
    </p>
  </section>
</div>